name: Publish

on: workflow_dispatch

permissions:
    contents: read

jobs:
    build:

        runs-on: ubuntu-latest
        if: github.repository == 'SMILEY4/ktor-swagger-ui'

        steps:
            -   uses: actions/checkout@v3

            -   name: Set up JDK 11
                uses: actions/setup-java@v3
                with:
                    java-version: '11'
                    distribution: 'temurin'
                    cache: 'gradle'

            -   name: Build
                uses: gradle/gradle-build-action@v2.7.0
                with:
                    arguments: build

            -   name: Publish
                run: ./gradlew publishAllPublicationsToMavenCentral --no-configuration-cache
                env:
                    ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
                    ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
                    ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.SIGNING_SECRET_KEY }}
                    ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.SIGNING_KEY_PASSWORD }}
